<h2 class="pipes">[From PipesComponent]: pipes works!</h2>

<h2 class="pipes" style="text-decoration: underline;">String Pipes</h2>
<h2 class="pipes">{{name}}</h2>
<h2 class="pipes">{{name | lowercase}}</h2>
<h2 class="pipes">{{name | uppercase}}</h2>
<h2 class="pipes">{{message | titlecase}}</h2>
<h2 class="pipes">{{name | slice:2:4}}</h2>
<h2 class="pipes">{{person | json}}</h2>

<h2 class="pipes" style="text-decoration: underline;">Number Pipes</h2>
<h2 class="pipes">{{5.678 | number:'1.2-3'}}</h2>
<h2 class="pipes">{{5.678 | number:'3.4-5'}}</h2>
<h2 class="pipes">{{5.678 | number:'3.1-2'}}</h2>
<h2 class="pipes">{{0.25 | percent}}</h2>

<h2 class="pipes" style="text-decoration: underline;">Currency Pipes</h2>
<h2 class="pipes">{{0.25 | currency}}</h2>
<h2 class="pipes">{{0.25 | currency:'GBP':'code'}}</h2>
<h2 class="pipes">{{0.25 | currency:'TRL':'code'}}</h2>

<h2 class="pipes" style="text-decoration: underline;">Date Pipes</h2>
<h2 class="pipes">{{date}}</h2>
<h2 class="pipes">{{date | date:'short'}}</h2>
<h2 class="pipes">{{date | date:'shortDate'}}</h2>
<h2 class="pipes">{{date | date:'shortTime'}}</h2>


<hr />
