<h2 style="color:red;">[From ClassBindingComponent]: class-binding works!</h2>
<h2 class="text-success" style="color:red;">HardCoded Class</h2>
<h2 bind-class="successClass" style="color:red;">ClassBinding text-success</h2>
<h2 bind-class="dangerClass" style="color:red;">ClassBinding text-danger</h2>
<h2 bind-class="specialClass" style="color:red;">ClassBinding text-special</h2>
<h2 bind-class.text-danger="hasError" style="color:red;">HasError</h2>
<h2 bind-ngClass="messageClasses" style="color:red;">HasError</h2>

<hr />