<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular App Tutorial
  </h1>
</div>

<app-ng-for-directive></app-ng-for-directive>
<app-ng-switch-directive></app-ng-switch-directive>
<app-ngif-directive></app-ngif-directive>
<app-two-way-binding></app-two-way-binding>
<app-template-reference-variables></app-template-reference-variables>
<app-event-binding></app-event-binding>
<app-style-binding></app-style-binding>
<app-class-binding></app-class-binding>
<app-property-binding></app-property-binding>
<app-test></app-test>
<router-outlet></router-outlet>
