<h2 class="routing-navigation">[From RoutingNavigationComponent]: routing-navigation works!</h2>

<h2 class="routing-navigation">
  <a routerLink="/" routerLinkActive="">Index</a>
</h2>

<h2 class="routing-navigation">
  <a routerLink="/departments" routerLinkActive="">Departments</a>
</h2>

<h2 class="routing-navigation">
  <a routerLink="/employees" routerLinkActive="">Employees</a>
</h2>

<h2 class="routing-navigation">-- Wildcard Redirect --</h2>

<h2 class="routing-navigation">
  <a routerLink="/xxxx" routerLinkActive="">Random Link</a>
</h2>

<h2 class="routing-navigation">-- ParamMap Observable --</h2>

<h2 class="routing-navigation">
  <a routerLink="/parameter-departments" routerLinkActive="">Parameter Departments</a>
</h2>

<router-outlet></router-outlet>

<hr />
